[tools]
"npm:@devcontainers/cli" = "0.81.1"
prettier = "3.6.2"
shellcheck = "0.11.0"

[tasks.check]
depends = [
    "check:prettier",
    "check:shellcheck"
]

[tasks."check:prettier"]
run = "prettier --check ."

[tasks."check:shellcheck"]
run = "shellcheck $(git ls-files | grep '.sh$')"

[tasks.fix]
depends = [
    "fix:prettier"
]

[tasks."fix:prettier"]
run = "prettier --write --cache-location .prettiercache ."
