name: Check - Enforce all checks pass
on:
  pull_request:
permissions:
  checks: read

jobs:
  wf:
    uses: nikobockerman/github-workflows/.github/workflows/check-enforce-all-checks.yaml@c40fd048af4cc60e443fb5e0741812d69716d6a6
