name: Check - Shellcheck
on:
  pull_request:
    paths:
      - "**.sh"
      - ".github/workflows/check-shellcheck.yaml"
  workflow_call:
  workflow_dispatch:
permissions:
  contents: read

jobs:
  shellcheck:
    name: Shellcheck
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4
      - name: Validate shellcheck
        # Use npm to run shellcheck. The command doesn't depend on project
        # dependencies and npm is already installed.
        run: npm run check:shellcheck
